<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<!-- include java script in the footer -->
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<title>Spring Boot Demo</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Hello Dunia</h1>
		<!-- <div class="col-md-6">
			<form name="saveUser" action="/save" method="post"
				class="form-horizontal">
				<div class="form-group">
					<label for="firstName">First Name:</label> <input type="text"
						id="firstName" class="form-control" placeholder="First Name"
						name="firstName" />
				</div>

				<div class="form-group">
					<label for="lastName">Last Name:</label> <input type="text"
						id="lastName" class="form-control" placeholder="Last Name"
						name="lastName">
				</div>

				<div class="form-group">
					<label for="email">Email:</label> <input type="email" id="email"
						class="form-control" placeholder="Email" name="email">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div> -->

<!-- 
		<div class="col-md-12">
			<h2>Saved Users</h2>
			<table id="usersTable" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div> -->
		
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="img-responsive">
					<img th:src="@{/img/pentadata.png}" alt="logo" height="30">
				</div>
			</div>
		</div> -->

		<div class="row">
			
			<div class="col-md-12">
				<h4 class="text-center">Infosys Solusi Terpadu - System Integrator, Consultant,
					Training, Development Center.</h4>
				<h4 class="text-center">Contact @ +62 21 2952 9400</h4>
				<h5 class="text-center">
					Copyrights 2022 by <a href="https://ist.id/">Infosys Solusi Terpadu</a>
				</h5>
			</div>

			<!-- <div class="col-md-12">
				<h4 class="text-center">Pentadata Infokom Persada - Consultant,
					Training, Development Center.</h4>
				<h4 class="text-center">Contact @ +6221-2930 8868</h4>
				<h5 class="text-center">
					Copyrights 2021 by <a href="https://pentadata.co.id/">Pentadata Infokom
						Persada</a>
				</h5>
			</div> -->
		</div>

	</div>

	<script>
		$.ajax({
			url : "/api/users",

			success : function(response) {
				$.each(response, function(i, item) {
					var row = $("<tr />");
					$("#usersTable").append(row);

					row.append($("<td>" + item.id + "</td>"));
					row.append($("<td>" + item.firstName + "</td>"));
					row.append($("<td>" + item.lastName + "</td>"));
					row.append($("<td>" + item.email + "</td>"));

				});
			}
		})
	</script>
</body>
</html>
